.nav{
    grid-area: n;
    background-color: rgb(61, 212, 161);
    padding: 20px;
}

.item a{
    color:rgb(68, 70, 217);
    text-decoration: none;
    
}

.item a:hover{
    color:goldenrod;
}


.item a:active {
    color:rgb(166, 122, 12);
}
