.item {
    color:rgb(8, 18, 3);
}

.item img{
    width: 30px;
    /* border-radius: 50%; */
    border-bottom-left-radius: 35%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}